{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}

{% block content %}
<header id="banner" class="body">
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a> &raquo; {{ article.title }}</h1>
</header><!-- /#banner -->

<section class="envelope">
    <article class="post">
        <header class="entry-title">
            <h1 class="entry-title">{{ article.title }}</h1>
         {% import 'translations.html' as translations with context %}
         {{ translations.translations_for(article) }}
        </header>

        <footer class="post-info">
            <ul>
                <li class="by">Written by: <a href="/">Marko Samastur</a></li>
                <li class="published">Published on: <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time></li>
                {% if article.modified %}
                <li class="modified">Modified on: <time datetime="{{ article.modified.isoformat() }}" pubdate>{{ article.locale_modified }}</time></li>
                {% endif %}
                <li class="categories">Category: {{ category }}
                </li>
            </ul>

        </footer><!-- /.post-info -->

        <div class="post-text">
            {{ article.content }}
        </div><!-- /.entry-content -->

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'markosgaivo';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </article>
</section>
{% endblock %}
