{% extends "base.html" %}
{% block content %}

{% block content_title %}{% endblock %}

<section class="envelope posts">
    <header>
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
    </header><!-- /#banner -->

    <nav class="colophon">
        <h1>By Marko Samastur</h1>
        <ul>
            <li><a href="/">About me</a></li>
            <li><a href="{{ SITE_URL }}/articles/feeds/atom.xml">Subscribe</a></li>
        </ul>
    </nav>

{% for article in articles_page.object_list %}
        <article class="hentry">
            <h1 class="entry-title storytitle"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>

            <div class="entry-content post-text">
                {{ article.content }}
            </div><!-- /.entry-content -->

            <footer class="post-metadata">
                <ul>
                    <li>Published on <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> </li>
                    <li><a href="{{ SITEURL }}/{{ article.url }}">Add your comment</a></li>
                </ul>
            </footer>
        </article>
{% endfor %}

{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
