{% if DEFAULT_PAGINATION %}
<ul class="paginator">
    {% if articles_page.has_previous() %}
		<li class="newer">
        <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo; Newer</a>
		</li>
    {% endif %}
		<li class="current">
    {{ articles_page.number }} / {{ articles_paginator.num_pages }}
		</li>
    {% if articles_page.has_next() %}
		<li class="older">
        <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Older &raquo;</a>
		</li>
    {% endif %}
</ul>
{% endif %}
